body {
	background-image: url(../image/pexel-photo.jpeg);
	background-repeat: repeat;
	background-attachment:fixed;
}
.header{
	text-align: center;
	padding: 20px;
	
}
input {

}
.header h1 {
	padding: 10px;
	color: #fff;
	font-size: 4em;
	font-weight: bold;
	background-color: #40404080;
}
.background-nav {
	background-color: #0026FF80;
	padding-top: 20px;

}
.formSearch {
}
span {
	color: #fff;
}
legend {
	color: #FFFFFFFF;
	border: none;

}
.formSearch .form-group {

	display: inline-block;
}
.formSearch .form-group input {
	background: #808080FF;
	color:#fff;
}
.formSearch form button {
	display: inline-block;
}
.formSearch form button:hover {
	background: #02ECFCFF;
	border:none;

}
.formChange .form-group input {
	margin-bottom: 20px;
	background: #808080FF;
	color:#fff;
}
.formChange .form-group #newName {
	
}
.formChange button {
	display: none;
}

.table .ul {
	padding-right: 20px;
	
	border: 1px solid #0AC0F4FF;
	background: #fff;
	opacity: 0.9;
}
.table ul {
	/*border-left: 2px solid #0026FFFF;*/
	margin-top: 25px;
	list-style: none;

}
.table ul button {
	border: none;
	background: none;
	/*transform: rotate(90deg); */


}
.table ul li {
	margin-top: 10px;
}
.table ul li a {
	
	cursor: pointer;
	color: #0020FFFF !important;
}
.table ul li a:hover {
	background: #0020FFFF !important;
	color: #fff !important;
}
.table ul li i {
	color: #808080FF !important;
	margin-right: 5px;
}

.scrollbar {
	float: left;
	height: 700px;
	width: 300px;
	background: #F5F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
	border: 1px solid #4800FF80;
}

.force-overflow
{
	min-height: 450px;
}

#formRemoveAll .form-group {
	display: inline-block;
}
#formRemoveAll .form-group label {
	color: #fff;
}
.control .ask span {
	float: left;
	font-weight: bold;

}
.control .ask button {
	display: inline-block;
	float: left;
	margin: 0 10px;
} 
